.change_password {
  background-image: url('../../assets/new_design.jpg');
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;                  
  height: 100vh;                 
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_card {
  background: rgba(58, 52, 52, 0.85); /* or any color */
  padding: 40px;
  border-radius: 20px; /* rounded corners */
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* nice shadow */
  text-align: center;
}

.inputing_fields{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  gap: 5px;

}
.buttons_in_row{
  display: flex;
  flex-direction: row;
}