
.section_1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-image: url('../../assets/slide_2.jpg');
  background-repeat: no-repeat;
  background-position: center; /* center remains */
  background-size: cover;      /* scale image to fill */
}

.the_description{
  font-style: italic;
  font-family: Fantasy;
  width: 100%;
  height: 93vh;
  font-size: 100px;
  
  color: black;
  opacity:0.6;
  filter:alpha(opacity=30);
}


.section_2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  background-color: white;
  margin-top: 10px;
}

.section_3_new{
  /* width: 1680px; */
  display: inline-block;
}


.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px; 
  
} 

.footer_element{  
  display: inline-block;
  width: 200px;
  margin-right: 100px;
  margin-left: 100px; 
} 



.footer_icon{ 
  position: relative; 
  top: 0px; 
}

