.list{
  width: 1350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.list_order{
  display: flex;
  flex-direction: row;
}


.card {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 260px;   /* fixed width */
  height: 350px;  /* fixed height (adjust to what you need) */
  display: inline-block;
  vertical-align: top; /* keeps cards aligned at the top */
}

.card_image{
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.section_1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/slide_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 99vw;
  height: 93vh;
  background-size: cover;

}

.section_2{
  display: flex;
  background-color: black;
  height: 93vh;
  width: 1521px;
  align-items: center;
  justify-content: center;
}

html, body, #root {
  margin: 0;
}

.slide_bar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slide_bar_image{
  width: 800px;
  height: 400px;
}



.the_description{
  font-style: italic;
  font-family: Fantasy;
  width: 100%;
  height: 93vh;
  font-size: 100px;
  
  color: black;
  opacity:0.3;
  filter:alpha(opacity=30);
}


.Home_page_button{
  border-radius: 4%;
  width: 100px;
  display: flex;
  margin-left: 30px;
  color: lightgreen;
  opacity:0.8;
  filter:alpha(opacity=30);

}

.section_3{
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 60vh;
  align-items: center;
  justify-content: center;
  width: 1521px;
  position: relative;
}

.first_part{
  position: absolute;
  top: 0;
  left: 0;
  color: green;
}



.contact_us_tabel{
  position: absolute;
  top: 50px;
  left: 0;
  width: 400px;
  height: 300px;
  border: solid 2px black;
  border-radius: 5%;
}

.second_part{
  position: absolute;
  width: 250px;
  top: 0;
  left: 460px;
}


a{
  color: green !important;
}

.better_image{
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 400px;
}


.login_page{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  flex-direction: row;
}
.login_part1{
  width: 50dvw;
  height: 100dvh;
  background-color: rgb(244, 224, 211);
}
.login_part2{
  width: 50dvw;
  height: 100dvh;
  background-image: url('./assets/better_furniture.png');
  background-repeat: no-repeat;
}

.inputing_fields{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  gap: 5px;

}

.noproducs{
  display: flex;
  width: 1000px; 
}

.home_page_buttons{
  display: flex;
  flex-direction: column;
  margin-right: 700px;
  margin-top: 400px;
  gap: 10px;

}

.two_buttons{
  display: flex;
  flex-direction: row;
}
.button_and_counter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.idbutton {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;     
  padding-bottom: 0px;  

  display: flex;
  align-items: center;  
  justify-content: center; 

  width: fit-content; 
  height: 15px;
  margin: 0 auto; 
  margin-right: 50px;
  border-radius: 10%;
  color: green;
  opacity:0.9;
  filter:alpha(opacity=30);
}

.in_button_and_counter {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;     
  padding-bottom: 0px;  
  display: flex;
  align-items: center;  
  justify-content: center; 
  width: fit-content; 
  margin: 0 auto; 
}


.count{
  margin-top: 15px;
  margin-left: -50px;
}

.add_to_cart{
  color: green;
  opacity:0.9;
  filter:alpha(opacity=30);
  border-radius: 10px;
}


