.list{
  width: 1350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.list_order{
  display: flex;
  flex-direction: row;
}

.noproducs{
  display: flex;
  width: 1000px; 
}

.list-layout {
  display: flex;
}

.products-container {
  margin-left: 200px; 
  padding: 20px;
  width: calc(100% - 200px);
  
  display: flex;
  flex-wrap: wrap;     
  gap: 5px;           
  align-items: flex-start;
}
